# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: Service URL
APP_URL=""

# Cloudflare Credentials
CLOUDFLARE_ACCOUNT_ID="1b77c2a9725b1e4c20f52f8ecfadbb3f"
CLOUDFLARE_API_KEY=""
CLOUDFLARE_R2_S3_ENDPOINT="https://1b77c2a9725b1e4c20f52f8ecfadbb3f.r2.cloudflarestorage.com"

# Cloudflare Storage & Database IDs
CLOUDFLARE_D1_SOVEREIGN_AGENT_DB_ID="0961b84e-c89a-43af-96ef-022089e8448e"
CLOUDFLARE_D1_SOVEREIGN_DB_ID="0a869fef-8129-426e-bdb8-2bb5bf063b07"
CLOUDFLARE_R2_BUCKET="sovereign-master-bucket"

# Cloudflare KV Namespaces
CLOUDFLARE_KV_ID_1="b3301c5ec88a409d964b4303e880618b"
CLOUDFLARE_KV_ID_2="ef1462dfa55a47e3923176522cb355a6"
CLOUDFLARE_KV_ID_3="8767a3e1ac644d2e81c6f99cbf9c7259"

# GitHub Credentials
GITHUB_TOKEN=""
GITHUB_REPO="updatedj25-gif/Sovereign_Agent"

E2B_API_KEY=e2b_f038364db33d10c826806c9b39d525ec1c8d6db8

